<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Všechny abecedy</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Hlavní strana</a></li>
                <li><a href="{{ url_for('abc') }}">Abeceda</a></li>
                <li><a href="{{ url_for('alfa') }}">Alfabeta</a></li>
                <li><a href="{{ url_for('azb') }}">Azbuka</a></li>
                <li><a href="{{ url_for('heb') }}">Hebrejština</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>
