{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Hebrejština</h1>
        <p>Hebrejština (עִבְרִית‎, ivrit) označuje souhrnně všechny vývojové varianty hebrejského jazyka od starověké hebrejštiny přes biblickou (עברית תנ״כית‎ ivrit tanachit, též לשון הקודש‎, lešon hakodeš, „svatý jazyk“) až po moderní hebrejštinu (עברית‎, ivrit), kterou se dnes hovoří ve státě Izrael.</p>
        <p>Hebrejština patří do rodiny semitských jazyků, resp. ke kanaánské severozápadní skupině. Nejstarší dochované hebrejské texty pocházejí z 10. století př. n. l. (tzv. gezerský kalendář). V případě starších textů není možno hovořit o plné diferenciaci severozápadních semitských jazyků mezi jednotlivé jazyky či větve, hovoří se tedy spíše o společné protosemitštině nebo protokeneanštině.</p>
    </main>
{% endblock %}
