<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Různé Abecedy</title>
</head>
<body>
<h1>Různé abecedy!</h1>
<p>Abeceda, řídce i „alfabeta“, je uspořádaná sada znaků – písmen, jimiž se při zápisu řeči, v písmu graficky vyjadřují fonémy, zpravidla hlásky (některé jen souhlásky) a případně slabiky. Hláskové abecedy mají přibližně několik málo desítek znaků (písmen), slabičné více, až i několik set. Pro srovnání: čínských znaků (zvukově znamenají slabiky, ale liší se podle významu) je až asi 100 000.</p>
<p>Název je odvozen z prvních čtyř znaků abecedy (latinky). Název „alfabeta“ používaný často v cizích jazycích je podobně odvozen z názvů prvních dvou písmen abecedy řecké. Jinou abecedou je cyrilice, pojmenovaná podle sv. Cyrila, také nazývaná azbuka podle názvů prvních dvou písmen v ruštině – a (az), b (buki).</p>
<p>Obdobně podle prvních písmen jsou vytvořeny názvy jiných typů abecedy: abugida a abdžad.</p>
</body>
</html>