{% extends 'base.html' %}
{% block content %}

{% block title %} Formular {% endblock %}

<form method="POST">
    <label> Uživatelské jméno
        <input type="text" name="username" placeholder= "Vyplnte uživatelské jméno" required>
    </label>

    <label> password
        <input type="password" name="password">
    </label>

    <label> Flask
        <input type="radio" name="radio" value="Flask">
    </label>

    <label> PHP
        <input type="radio" name="radio" value="PHP">
    </label>

    <label> Javascript
        <input type="radio" name="radio" value="Javascript">
    </label>
    <input type="submit" value="Odeslat">
</form>

{% endblock %}