{% extends 'base.html' %}

{% block content %}

<h1>
    {% block title %}
    zkouska
    {% endblock title %}
</h1>

<main>
    {% if radio %}
    <p>Vybrany programovaci jazyk je {{ radio }}</p>

    {% if username == "pokuston" and password == "heslo" %}
    <h3>Úspěšné přihlášení uživatele {{ username }}</h3>
    {% elif username == "pokuston" %}
    <h3>Špatné heslo pro {{ username }}</h3>
    {% else %}
    <h3>Neplatný uživatel</h3>
    {% endif %}

    <p>Programovací jazyk je {{ radio }}</p>
    {% endif %}
</main>

{% endblock %}
